{% load rest_framework %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Employee Data</title>
    <style>
        body{
            margin: 50px 25%;
            font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        }
        a,p{
            text-decoration: none;
            font-size: 12px;
            font-weight: bold;
            color:dodgerblue
        }
        div{
            text-align: left;
        }
    </style>
</head>
<body>
    <div>
        {% if dept %}
            <p>Department id : {{dept.id}}</p>        
            <p>Department name : {{dept.name}}</p>        
            <p>Department Manager: {{dept.manager}}</p>  
            <hr>      
        {% endif %}
    </div>
    <div>
        {% if msg %}
            <p style="color: red; font-size: 14px;letter-spacing: 1px;">Message : {{msg}}</p>
        {% else %}
            {% for i in emps %}
                <p>id : {{i.id}}</p>        
                <p>name : {{i.name}}</p>        
                <p>email : {{i.email}}</p>        
                <p>Department : {{i.department_id}}</p>  
                <hr>      
            {% endfor %}
        {% endif %}
    </div>

    <a href="/myapp/departmentwithhtml">All Departments >> </a><br>
    <a href="/myapp/employeewithhtml">All Employees >> </a>
</body>
</html>